In [1]:
##### BIBLIOTECA PARA MANIPULAÇÃO DE DADOS

import pandas as pd
import numpy as np
import datetime
from datetime import date
import seaborn as sns

##### CONFIGURAÇÃO DE UTILIZAÇÃO DO DRIVE
import warnings

##### VERIFICAÇÃO DE ENCONDING DE ARQUIVO
import chardet

In [2]:
"""ERRO 1 - UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 14: invalid continuation byte

--> Erro pelo encoding do arquivo ser diferente
"""

##### Função para detectar o encoding do arquivo
def detectar_encoding(arquivo, sample_size=10000):
    with open(arquivo, 'rb') as f:
        # Lê apenas uma amostra inicial do arquivo
        sample = f.read(sample_size)
    return chardet.detect(sample)['encoding']

# Uso
encoding_arquivo = detectar_encoding('RemuneracaoAtivos.csv')
print(f"Encoding detectado: {encoding_arquivo}")

Encoding detectado: ISO-8859-1

In [3]:
"""ERRO 2 - ParserError: Error tokenizing data. C error: Expected 8 fields in line 230, saw 9

--> Erro pelo arquivo estar sem delimitador
"""
# Carregar o arquivo usando o encoding detectado e delimitador

ativos = pd.read_csv('RemuneracaoAtivos.csv', 
                     encoding=encoding_arquivo,
                     delimiter=";",
                     on_bad_lines='warn',

)

In [4]:
# VENDO A BASE

ativos.head(2)
ativos_alter = ativos


# RENOMEANDO COLUNAS

# Remove espaços e tabs no final dos nomes das colunas
ativos_alter.columns.str.strip()

# Agora renomeie (sem os caracteres extras)
ativos_alter.rename(
    columns={
        "ORGÃO": "ORGAO",
        "REMUNERAÇÃO DO MÊS": "REMUNERACAO_MES",
        "FÉRIAS E 13º SALÁRIO": "FERIAS_E_13",
        "PAGAMENTOS EVENTUAIS": "PAGAMENTOS_EVENTUAIS",
        "LICENÇA PRÊMIO INDENIZADA": "LICENCA_PREMIUM_INDENIZADA",
        "ABONO PERMANÊNCIA & OUTRAS INDENIZAÇÕES": "ABONO_PERM_E_OUTRAS_INDENIZ",
        "REDUTOR SALARIAL": "REDUTOR_SALARIAL",
        "TOTAL LIQUÍDO (R$)": "TOTAL_LIQUIDO"
    }, 
    inplace=True
) 

ativos_alter.head(2)

,NOME,CARGO,ORGAO,REMUNERACAO_MES,FERIAS_E_13,PAGAMENTOS_EVENTUAIS,LICENCA_PREMIUM_INDENIZADA,ABONO_PERM_E_OUTRAS_INDENIZ,REDUTOR_SALARIAL,TOTAL_LIQUIDO,GRUPO
0,AAIRON TELES DE CAMARGO,OFICIAL ADMINISTRATIVO,DEPT.ESTAD.TRANSITO DETRAN SP,"2839,42","0,00","56,77","0,00","0,00","0,00","0,00",ATIVOS
1,AALAN DA SILVA ARAUJO,SD 1C PM,POLICIA MILITAR SAO PAULO,"5937,48","2279,75","0,00","0,00","1110,60","0,00","5738,57",ATIVOS

In [5]:
teste = ativos_alter.query("ORGAO == 'SECRETARIA DA EDUCACAO'")

In [6]:
teste.head(1)

,NOME,CARGO,ORGAO,REMUNERACAO_MES,FERIAS_E_13,PAGAMENTOS_EVENTUAIS,LICENCA_PREMIUM_INDENIZADA,ABONO_PERM_E_OUTRAS_INDENIZ,REDUTOR_SALARIAL,TOTAL_LIQUIDO,GRUPO
4,AARIN LEAL SANTOS,PROF ENSINO FUNDAMENTAL/MEDIO,SECRETARIA DA EDUCACAO,"6908,00","0,00","-38,86","0,00","0,00","0,00","5316,96",ATIVOS